[Unit]
Description=Squeezelite LMS player
After=network.target

[Service]
ExecStart=/usr/local/bin/squeezelite -o default -n orange -m 24:05:0f:95:46:70 -s 192.168.0.100 -f /var/log/squeezelite.log -d all=info -P /run/squeezelite.pid
PIDFile=/run/squeezelite.pid
Restart=always
#User=clemens
CPUAccounting=yes
MemoryAccounting=yes

[Install]
WantedBy=multi-user.target
