[Unit]
Description=shutdown host
After=network.target

[Service]
User=clemens
Group=clemens
WorkingDirectory=/home/clemens/shutdown
ExecStart=/home/clemens/shutdown/venv/bin/python /home/clemens/shutdown/app.py
Restart=always
RestartSec=5
Environment="PATH=/home/clemens/shutdown/venv/bin"

[Install]
WantedBy=multi-user.target
