# default destination is pictl-ktor
white.unividuell.org {
  tls /etc/letsencrypt/live/unividuell.org/fullchain.pem /etc/letsencrypt/live/unividuell.org/privkey.pem
  reverse_proxy localhost:8080
}
lms.unividuell.org {
  tls /etc/letsencrypt/live/unividuell.org/fullchain.pem /etc/letsencrypt/live/unividuell.org/privkey.pem
  reverse_proxy localhost:9000
  #log {
  #  output file /var/log/caddy/lms.log
  #}
}
pi-hole.unividuell.org {
  tls /etc/letsencrypt/live/unividuell.org/fullchain.pem /etc/letsencrypt/live/unividuell.org/privkey.pem
  reverse_proxy localhost:9999
}
