# The Caddyfile is an easy way to configure your Caddy web server.

# default destination is pictl-ktor
:443 {
  tls /etc/letsencrypt/live/unividuell.org/fullchain.pem /etc/letsencrypt/live/unividuell.org/privkey.pem
  reverse_proxy localhost:8080
}
:80 {
  reverse_proxy localhost:8080
}

# pictl
white.unividuell.org music.unividuell.org {
  tls /etc/letsencrypt/live/unividuell.org/fullchain.pem /etc/letsencrypt/live/unividuell.org/privkey.pem
  route /cometd/* {
    reverse_proxy localhost:9000
  }
  reverse_proxy localhost:8080 {
    header_up Host {host} # redundant
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}  # redundant
    header_up X-Forwarded-Port {server_port} # redundant
  }
  log {
    output file /var/log/caddy/pi-ctl.log
  }
}

hole.unividuell.org {
  tls /etc/letsencrypt/live/unividuell.org/fullchain.pem /etc/letsencrypt/live/unividuell.org/privkey.pem
  rewrite * /admin{uri}
  reverse_proxy localhost:9999
}

lms.unividuell.org {
  header Access-Control-Allow-Headers content-type
  header Access-Control-Allow-Origin http://localhost:3000 
  header Access-Control-Allow-Credentials true  
  reverse_proxy localhost:9000
  tls /etc/letsencrypt/live/unividuell.org/fullchain.pem /etc/letsencrypt/live/unividuell.org/privkey.pem
  #log {
  #  output file /var/log/caddy/lms.log
  #}
}


# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile