[Unit]
Description=Control Pi Audio Multiroom Service (pictl)
After=network.target

[Service]
Environment="KTOR_ENV=pi"
Environment="SLIMSERVER_HOST={RASPBERRY_IP}"
Environment="MODULES=[org.unividuell.pictl.server.PictlApplicationKt.piCtl,org.unividuell.pictl.server.ModulesKt.hardwareModule]"
Environment="LOG_LEVEL_APP=WARN"
ExecStart=java -jar /home/pi/pictl.jar
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
