[Unit]
Description=Control Pi Audio Multiroom Service (pictl)
After=network.target

[Service]
Environment="KTOR_ENV=pi"
Environment="SLIMSERVER_HOST={RASPBERRY_IP}"
Environment="LOG_LEVEL_APP=WARN"
ExecStart=java -Dktor.application.modules.0=org.unividuell.pictl.server.PictlApplicationKt.piCtl -Dktor.application.modules.1=org.unividuell.pictl.server.ModulesKt.hardwareModule -jar /home/pi/pictl.jar
Restart=always
User=pi
PIDFile=/run/pictl.pid
CPUAccounting=yes
# disabled by default on raspbian: https://github.com/systemd/systemd/issues/15772#issuecomment-633082254
MemoryAccounting=yes

[Install]
WantedBy=multi-user.target
