.DS_Store
node_modules
# patched b/c of https://github.com/Logitech/slimserver/issues/478
!pictl-vue/node_modules/.pnpm/cometd@7.0.5/node_modules/cometd/cometd.js
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
